%h1 Welcome to CodeGate!

%h3 Are you a member of the Colgate Faculty or a Colgate Computer Science Alumni?
%p If yes, you can create challenges to see what skills current computer science students have and to help them prepare for interviews!
%h3 Are you a current Colgate Computer Science Student?
%p If yes, you can complete challenges that are submitted by your professors and by Colgate computer science alumni to help you prepare for interviews or to get noticed by an alumni who might be hiring!

%h3 Click "Log in" at the top of the page to get started today!
