#main
  =form_for @problem do |f|
    =f.label :name
    =f.text_field :name, :required => true
    %br
    =f.label :difficulty
    =f.select "difficulty", options_for_select((1..5).step(1)), :required => true
    %br
    =f.label :description
    =f.text_area :description, :required => true
    %br
    =f.submit "Create Problem"
  =link_to "Return to homepage", problems_path
