- breadcrumb :problem, @problem

= render partial: 'layouts/problem'

.row
  .col-xs-4.col-md-4.col-lg-4
    = button_to "Submit an Attempt",
      new_problem_attempt_path(@problem.id),
      method: :get,
      class: 'btn btn-md btn-primary'
  .col-xs-4.col-md-4.col-lg-4
    = button_to 'Show Attempts',
      problem_attempts_path(@problem.id),
      method: :get,
      class: 'btn btn-md btn-default'
  .col-xs-4.col-md-4.col-lg-4
    - if policy(@problem).edit?
      = button_to 'Edit Problem',
        edit_problem_path(@problem.id),
        method: :get,
        class: 'btn btn-md btn-warning'

