.container
  - breadcrumb :about
  .row
    .page-header
      %h2
        About CodeGate
  .row
    .col-md-6
      .panel.panel-success
        .panel-heading Students
        .panel-body
          %ul
            %li Complete problems submitted by professors and alumni to help prepare for interviews and get noticed by potential employers
            %li Receive valuable feedback from your professors and industry alumi to better improve skills
    .col-md-6
      .panel.panel-info
        .panel-heading Faculty and Alumni
        .panel-body
          %ul
            %li Create problems to evaluate current computer science students and help them prepare for interviews
            %li Rate student's attempts and give valuable feedback
  
