// Place all the styles related to the Attempts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*body {*/
    /*overflow: hidden;*/
/*}*/
#editor {
    /*margin: 0;*/
    position: relative;
    /*top: 50;*/
    /*bottom: 50;*/
    /*left: 50;*/
    /*right: 50;*/
    height: 300px;
    width: 90%;
}

/*#ace-editor*/
    /*position: relative*/
    /*width: 100%*/
    /*height: 600px*/
    /*border: 1px solid #ccc*/

