- provide(:title, "Grade Attempt")
- breadcrumb :grade_attempt, @attempt

= render partial: 'layouts/problem'
= render partial: 'attempt'

.row
  %h2= "Select a Grade for this attempt:"
  =form_for [@problem, @attempt] do |f|
    %br
    =f.label :grade
    =f.number_field :grade, :required => true, in: 0..10
    %br
    =f.submit "Update Grade"
