- provide(:title, "New Attempt")
- breadcrumb :new_attempt, @problem

= render partial: 'layouts/problem'

.row
#countdownwrapper
  #until2d

.row
  .panel.panel-default
    .panel-heading
      .h2.panel-title Code Editor (Syntax: Python)
    .panel-body
      .col#editor

= render partial: 'attempt_form'
= content_tag :div, class: "temp_information", data: {minute: @problem.time_limit} do end
