- provide(:title, "Show Attempt")
- breadcrumb :attempt, @attempt

= render partial: 'layouts/problem'
= render partial: 'attempt'

.row
  %h3
    Grade:
    %small
      = @attempt.show_grade
      - if @attempt.grade == -1 and policy(@attempt).edit?
        %td
          = button_to 'Grade attempt', edit_problem_attempt_path(@attempt.problem_id, @attempt.id), method: :get, class: 'btn btn-xs btn-primary'
