%h3 Attempt
%p
  Name: #{@attempt.user.name}
  %br
  Problem: #{@attempt.problem.name}
  %br
  Submission: #{@attempt.submission if @attempt}
%p= link_to "Back to all attempts", problem_attempts_path(@attempt.problem_id)